################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HR-StockMerchnat/HR-StockMerchnat/bin/Debug/netcoreapp3.1
